extends layout

block content
  
  .jumbotron
    h1 Welcome to Shield Whistleblower System
    p Shield Whistleblower System is a secure and anonymous way to send evidence to news media outlets by people who want to bring evidence and news to light without the fear of threats to their life and identity.
    p A secure way to reach out. We deliver even in worst-case scenarios.
    hr
    p Designed for journalists, whistleblowers and anyone who wants to be heard. 
      
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 How it works : 
      p.lead You create a vault with a link to your stored files.
      p You select 3 media outlets to mail it to.
      p We put your vault on hold for 7 days after you queue it for sending, in case you change your mind.
      p We send the vault after 7 days to the media outlets if you haven't unqueued or deleted them.
      p You are anonymous since the information is shared on our behalf and via us without your personal details.

