extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
      .jumbotron
        h1 Welcome to Shield Vault
        p A secure way to reach out. We deliver even in worst-case scenarios.
        hr
        p Designed for journalists, whistleblowers and anyone with a voice. 
      .container
        a(class= 'button btn btn-primary', href='/login') Create a Vault